@page "{number:int?}"
@model WebApplication1.Pages.ThingsModel
@{
    ViewData["Title"] = "Things";
    Layout = "~/Pages/Shared/_Layout.cshtml";
}

<script type="text/javascript">
    function scrollToSelectedThing() {
        document.getElementById("thingsList").scrollTop = document.getElementsByClassName("selected")[0].offsetTop -
            document.getElementsByClassName("selected")[0].offsetHeight -
            5;
    }

    function enableEditing() {
        document.getElementById("editNumberField").readOnly = false;
        document.getElementById("editTextField").readOnly = false;
        document.getElementById("editButton").hidden = true;
        document.getElementById("updateButton").hidden = false;
    }

    window.onload = function() { checkForPendingToast(); scrollToSelectedThing(); }
</script>

@*<h2>All things</h2>

    <form method="post">
        <table>
            <thead>
                <tr>
                    <th>Number</th>
                    <th>Text</th>
                </tr>
            </thead>
            <tbody>
                @foreach (var thing in Model.AllThings)
                {
                    <tr>
                        <td>@thing.Number</td>
                        <td>@thing.Text</td>
                        <td>
                            <button type="submit" asp-page-handler="edit" asp-route-number="@thing.Number">
                                edit
                            </button>

                            <button type="submit" asp-page-handler="delete" asp-route-number="@thing.Number">
                                delete
                            </button>
                        </td>
                    </tr>
                }
            </tbody>
        </table>
    </form>*@


<h2>Selectable list of things</h2>

<form method="post">

    <nav>
        <ul id="thingsList">
            @foreach (var thing in Model.AllThings)
            {
                <li>
                    <div style="width: 500px;">
                        <div style="float: left; width: 200px;">
                            <button class="@(ViewContext.RouteData.Values["number"] != null && thing.Number == int.Parse((string)ViewContext.RouteData.Values["number"]) ? "selected" : "thing")" type="submit" asp-page-handler="edit" asp-route-number="@thing.Number"
                                    tabindex="1">
                                <div align="left">@thing.Number</div>
                                <div align="right">@thing.Text</div>
                            </button>
                        </div>
                        <div style="width: 300px;">
                            <input type="button" name="btn" value="Delete" id="submitBtn" data-toggle="modal" data-target="#confirm-submit-@thing.Number" class="btn btn-default" />


                            @*<button class="btn" type="submit" asp-page-handler="delete" asp-route-number="@thing.Number">
                                <i class="fa fa-trash"></i>
                            </button>*@


                            <div class="modal fade" id="confirm-submit-@thing.Number" tabindex="-1" role="dialog" aria-labelledby="myModalLabel" aria-hidden="true">
                                <div class="modal-dialog">
                                    <div class="modal-content">
                                        <div class="modal-header">
                                            Confirm Submit
                                        </div>
                                        <div class="modal-body">
                                            Are you sure you want to delete thing number @thing.Number?
                                        </div>

                                        <div class="modal-footer">
                                            <button type="button" class="btn btn-default" data-dismiss="modal">Cancel</button>
                                            <button type="submit" class="btn btn-success success" asp-page-handler="delete" asp-route-number="@thing.Number">Delete</button>
                                        </div>
                                    </div>
                                </div>
                            </div>
                        </div>
                        <br style="clear: left;" />
                    </div>
                </li>
            }
        </ul>
    </nav>


</form>

<h2>Create new thing</h2>
<form method="post">
    <div>Number:<input asp-for="@Model.NewThing.Number" /></div>
    <div>Text:<input asp-for="@Model.NewThing.Text" /></div>
    <button type="submit" asp-page-handler="create">
        create
    </button>
</form>

<div hidden="@(Model.EditedThing == null)">
    <h2>Selected thing</h2>

    <form id="editThingForm" method="post">
        <div>Number:<input asp-for="@Model.EditedThing.Number" readonly id="editNumberField" /></div>
        <div>Text:<input asp-for="@Model.EditedThing.Text" readonly id="editTextField" /></div>
        <button type="submit" asp-page-handler="update" hidden id="updateButton" onclick="document.getElementById('loader').hidden = false;">
            update
        </button>
    </form>
    <button onclick="enableEditing()" id="editButton">
        edit
    </button>
    <div id="loader" class="loader" hidden></div>
</div>
